<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21653297501-taoc5o4j2v6g139jujqtv01rt1a5hqou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21653297501-taoc5o4j2v6g139jujqtv01rt1a5hqou</string>
	<key>API_KEY</key>
	<string>AIzaSyBeX7Cn-5pbPXpVMWnyohDDT-aVRsElIZo</string>
	<key>GCM_SENDER_ID</key>
	<string>21653297501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafamadaloz.gradufsc</string>
	<key>PROJECT_ID</key>
	<string>gradufsc-28dad</string>
	<key>STORAGE_BUCKET</key>
	<string>gradufsc-28dad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21653297501:ios:a58d19c7f91c10724eb0b4</string>
</dict>
</plist>
